@media (max-width: 1280px) {
    .carousel-item {
        width: 60%;
        height: 80%;
    }
}
@media (max-width: 1184px) {
    .carousel-item {
        width: 60%;
        height: 75%;
    }
}
@media (max-width: 1024px) {
    .carousel-item {
        width: 60%;
        height: 70%;
    }
    .arrowbutton {
        width: 6.5rem;
        height: 6.5rem;
    }
}
@media (max-width: 930px) {
    .carousel-item {
        width: 60%;
        height: 65%;
    }
}
@media (max-width: 909px) {
    .hero-heading {
        font-size: 4.8rem;
    }
    .hero-caption {
        font-size: 1.7rem;
    }
}
@media (max-width: 864px) {
    .carousel-item {
        width: 60%;
        height: 60%;
    }
    .carousel-arrow-buttons {
        padding: 0 3rem;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    .hero-heading {
        font-size: 5rem;
    }
    .hero-caption {
        font-size: 1.8rem;
    }
    .navbar {
        display: none;
    }
    .navbar-two {
        display: block;
    }
    .oryx-content {
        font-size: 1.8rem;
    }
    .rps-content {
        font-size: 1.8rem;
    }
    .skill-img img {
        width: 10rem;
        height: 10rem;
    }
    .oryx-caption p {
        font-size: 2.4rem;
    }
    .rps-caption p {
        font-size: 2.4rem;
    }
    .oryx-logo img {
        width: 18rem;
        height: 23rem;
    }
    .rps-logo img {
        width: 18rem;
        height: 23rem;
    }
    .toogle-buttons {
        width: 25rem;
        height: 4rem;
        padding: 1rem 1.5rem;
    }
    .js-t-button {
        font-size: 1.4rem;
        padding: .8rem 1.5rem;
    }
    .learn-more-button {
        font-size: 1.4rem;
        padding: .8rem 1.8rem;
    }
    .carousel-section {
        height: 65rem;
    }
    .arrowbutton {
        width: 5.5rem;
        height: 5.5rem;
    }
    .carousel-button {
        width: .8rem;
        height: .8rem;
    }
    .footer-content {
        font-size: 1.4rem;
    }
}
@media (max-width: 703px) {
    .carousel-section {
        height: 60rem;
    }
}
@media (max-width: 700px) {
    .carousel-item {
        width: 60%;
        height: 50%;
    }
}
@media (max-width:630px) {
    #frontend-container {
        grid-template-columns: 1fr;
        grid-template-areas:
           "image1"
            "content1"
            "image2"
            "content2";
    }
    .projects-section {
        height: 140rem;
    }
    #horizontal-line {
        width: 80%;
        height: 1px;
        background-color: gold;
        margin: 1rem 0;
    }
}
@media (max-width: 625px) {
    html {
        font-size: 62.5%;
    }
    .hero-heading {
        font-size: 4rem;
    }
    .hero-caption {
        font-size: 1.6rem;
    }
    .oryx-content {
        text-align: center;
    }
    .rps-content {
        text-align: center;
    }
}
@media (max-width: 589px ) {
    .hero-heading {
        font-size: 3.7rem;
    }
    .hero-caption {
        font-size: 1.5rem;
    }
}
@media (max-width: 576px) {
    .carousel-section {
        height: 55rem;
    }
    .carousel-item {
        width: 67%;
    }
    .arrowbutton {
        width: 4.5rem;
        height: 4.5rem;
    }
    .carousel-arrow-buttons {
        padding: 0 1rem;
    }
}
@media (max-width: 552px) {
    .hero-heading {
        font-size: 3.5rem;
    }
    .hero-caption {
       font-size: 1.3rem;
    }
}
@media (max-width: 523px) {
    .carousel-section {
        padding: 4rem 3rem;
    }
    .carousel-arrow-buttons {
        padding: 0 0;
    }
}
@media (max-width: 500px) {
    .hero-heading {}
}
@media (max-width: 491px) {
    .carousel-section {
        height: 50rem;
    }
}
@media (max-width: 440px) {
    .admin-resume {
        text-align: center;
        font-size: 1.4rem;
    }
}
@media (max-width: 431px) {
    .projects-section {
        height: 150rem;
    }
    .carousel-button {
        width: .6rem;
        height: .6rem;
    }
    .footer-content {
        font-size: 1.2rem;
    }
}
@media (max-width:425px) {
    .skill-left {
        animation: skillCarsdsAnimationLeft 2s ease-in-out forwards;
        animation-timeline: view();
        animation-range : entry 5% cover 80%;
    }
    .skill-right {
        animation: skillCarsdsAnimationRight 2s ease-in-out forwards;
        animation-timeline : view();
        animation-range : entry 10% cover 80%;
    }
    @keyframes skillCarsdsAnimationLeft {
        from {
            transform: translate(-10px,30px);
            opacity: 0;
        }
        to {
            transform: translate(0,0);
            opacity: 2;
        }
    }
    @keyframes skillCarsdsAnimationRight {
        from {
            transform: translate(10px,30px);
            opacity: 0;
        }
        to {
            transform: translate(0,0);
            opacity: 2;
        }
    }
    .arrowbutton {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1rem;
    }
    .carousel-section {
        height: 45rem;
    }
    .carousel-item {
        width: 70%;
        height: 55%;
    }
}
@media (max-width: 395px) {
    .carousel-section {
        height: 40rem;
    }
    .certificate-heading {
        font-size: 2.5rem;
    }
    .project-heading {
        font-size: 2.5rem;
    }
    .skills-heading {
        font-size: 2.5rem;
    }
}
@media (max-width: 375px) {
    .skill {
        width: 180px;
        height: 280px;
    }
    .skill-left {
        animation: skillCarsdsAnimationLeft 2s ease-in-out forwards;
        animation-timeline: view();
        animation-range : entry 5% cover 80%;
    }
    .skill-right {
        animation: skillCarsdsAnimationRight 2s ease-in-out forwards;
        animation-timeline : view();
        animation-range : entry 10% cover 80%;
    }
    @keyframes skillCarsdsAnimationLeft {
        from {
            transform: translate(-10px,30px);
            opacity: 0;
        }
        to {
            transform: translate(0,0);
            opacity: 2;
        }
    }
    @keyframes skillCarsdsAnimationRight {
        from {
            transform: translate(10px,30px);
            opacity: 0;
        }
        to {
            transform: translate(0,0);
            opacity: 2;
        }
    }
    .projects-section {
        height: 160rem;
    }
    .carousel-button {
        width: .5rem;
        height: .5rem;
    }
}
@media (max-width: 358px) {
    .carousel-section {
        height: 35rem;
    }
    .carousel-item {
        width: 75%;
        height: 60%;
    }
    .arrowbutton {
        width: 3rem;
        height: 3rem;
        font-size: .8rem;
    }
}
@media (max-width: 320px) {
    .hero-heading {
        font-size: 3rem;
    }
    .hero-caption {
        font-size: 1.2rem;
    }
    .nav-icons {
        font-size: 1.4rem;
        gap: 1.5rem;
        padding: .8rem 1.5rem;
    }
    .skill-img img {
        width: 8rem;
        height: 8rem;
    }
    .skill-left {
        animation: skillCarsdsAnimationLeft 2s ease-in-out forwards;
        animation-timeline: view();
        animation-range : entry 5% cover 80%;
    }
    .skill-right {
        animation: skillCarsdsAnimationRight 2s ease-in-out forwards;
        animation-timeline : view();
        animation-range : entry 10% cover 80%;
    }
    @keyframes skillCarsdsAnimationLeft {
        from {
            transform: translate(-10px,30px);
            opacity: 0;
        }
        to {
            transform: translate(0,0);
            opacity: 2;
        }
    }
    @keyframes skillCarsdsAnimationRight {
        from {
            transform: translate(10px,30px);
            opacity: 0;
        }
        to {
            transform: translate(0,0);
            opacity: 2;
        }
    }
    .projects-section {
        height: 170rem;
    }
    .footer-content {
        font-size: 1rem;
    }
}